In [2]:
import FinanceDataReader as fdr
import pandas as pd
import numpy as np

In [3]:
fdr.__version__

'0.9.50'

In [4]:
# 한국 거래소 자료 가져오기 
krx = fdr.StockListing('KRX')
krx

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
0,005930,KR7005930003,삼성전자,KOSPI,,71800,1,300,0.42,71800,71900,70900,15373696,1098192684298,428630387090000,5969782550,STK
1,373220,KR7373220003,LG에너지솔루션,KOSPI,,588000,1,3000,0.51,591000,592000,582000,271773,159432971000,137592000000000,234000000,STK
2,000660,KR7000660001,SK하이닉스,KOSPI,,118900,2,-100,-0.08,117300,119800,116300,4303391,508120276437,86559481198500,728002365,STK
3,207940,KR7207940008,삼성바이오로직스,KOSPI,,775000,2,-3000,-0.39,780000,783000,772000,96808,75109548000,55159850000000,71174000,STK
4,051910,KR7051910008,LG화학,KOSPI,,743000,1,21000,2.91,727000,754000,725000,355710,263984930000,52450110849000,70592343,STK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2718,245450,KR7245450002,씨앤에스링크,KONEX,일반기업부,1588,2,-11,-0.69,1588,1588,1588,1,1588,2508976480,1579960,KNX
2719,288490,KR7288490006,나라소프트,KONEX,일반기업부,57,1,1,1.79,58,59,54,133116,7473083,2174379000,38147000,KNX
2720,000547,KR7000542001,흥국화재2우B,KOSPI,,10100,2,-10,-0.10,11600,11600,10100,12449,129538680,1551360000,153600,STK
2721,322190,KR7322190000,베른,KONEX,일반기업부,154,1,18,13.24,120,154,120,708,90434,1374480338,8925197,KNX
2722,308700,KR7308700004,테크엔,KONEX,일반기업부,212,2,-32,-13.11,280,280,212,122,32664,848000000,4000000,KNX

In [6]:
# kospi 지수 가져오기 
kospi = fdr.DataReader('KS11')
kospi.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-06-12,2647.489990,2650.449951,2623.429932,2629.350098,2629.350098,554300.0
2023-06-13,2644.429932,2645.620117,2633.520020,2637.949951,2637.949951,692500.0
2023-06-14,2640.810059,2642.860107,2614.250000,2619.080078,2619.080078,648800.0
2023-06-15,2629.239990,2634.219971,2602.520020,2608.540039,2608.540039,579000.0
2023-06-16,2623.570068,2625.790039,2612.209961,2625.790039,2625.790039,668400.0

In [7]:
# 코스닥 지수 전체 데이터 가져오기 
kosdaq = fdr.DataReader('KQ11')
kosdaq.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2000-10-16,858.500000,873.900024,851.299988,867.099976,867.099976,193900.0
2000-10-17,849.599976,860.099976,791.099976,804.000000,804.000000,218200.0
2000-10-18,788.500000,811.400024,758.200012,802.599976,802.599976,241000.0
2000-10-19,793.599976,820.400024,786.900024,798.400024,798.400024,204500.0
2000-10-20,834.700012,840.900024,822.500000,826.200012,826.200012,221900.0

In [ ]:
# 데이터 저장 하기 
krx.to_csv('KRX2_data.csv')
kospi.to_csv('KOSPI_data.csv')
kosdaq.to_csv('KOSDAQ_data.csv')