# pandas-datareader로 차트 데이터 획득하기

https://pandas-datareader.readthedocs.io/en/latest/

In [1]:
import pandas_datareader.data as web
df = web.DataReader(
    '005930',
    'naver',
    start='2021-12-01',
    end='2021-12-31'
)
df.head()

             Open   High    Low  Close    Volume
Date
2021-12-01  72000  74800  71600  74400  21954856
2021-12-02  73900  75800  73800  75800  23652940
2021-12-03  75600  76000  74100  75600  18330240
2021-12-06  75100  76700  74900  76300  16391250
2021-12-07  76100  77700  75600  77400  19232453

In [3]:
import pandas_datareader.data as web
df = web.DataReader(
    '005930.KS',  # 코스피: KS, 코스닥: KQ
    'yahoo',
    start='2021-12-01',
    end='2021-12-31'
)
df.head()

             High    Low   Open  Close    Volume  Adj Close
Date
2021-12-01  74800  71600  72000  74400  21954856      74400
2021-12-02  75800  73800  73900  75800  23652940      75800
2021-12-03  76000  74100  75600  75600  18330240      75600
2021-12-06  76700  74900  75100  76300  16391250      76300
2021-12-07  77700  75600  76100  77400  19232453      77400